@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin text ($ff, $fsize, $fstyle, $lh, $color, $fw) {
    font-family: $ff;
    font-style: $fstyle;
    font-weight: $fw;
    font-size: $fsize;
    line-height: $lh;
    color: $color
}

body {
    * {
        font-family: sans-serif;
    }

    main {
        @include size(1440px, 1080px);
        border: 1px solid rgba(66, 86, 122, 0.1);
        margin: 0 auto;
        padding: 0 40px 0 80px;



        p {
            @include text('PT Sans', 200px, normal, 160px, #5D5FEF, 700);
            margin: 0;
        }

        .slider-container {
            
            display: flex;
            .button {
                border: 1px solid rgba(66, 86, 122, 0.1);
                border-radius: 50%;
                @include size(40px, 40px);
                margin: 40px 0 0 auto
                
            }

            .slider {
                display: flex;
                width: 1280px;
                overflow: hidden;
                margin: 0;


                .swiper-container {
                    max-width: 400px;

                    .slider-content {



                        p {
                            @include text('PT Sans', 20px, normal, 30px, #42567A, 400);
                            margin-right: 80px;

                        }

                        h3 {
                            @include text('Bebas Neue', 25px, normal, 120%, #3877EE, 400);
                            margin: 0 0 15px;
                        }
                    }
                }


            }


        }





    }

}